.GlueDropTarget, .main-actionBarBackground-background, .playlist-playlist-playlistContent, .os-content, .under-main-view, .main-entityHeader-backgroundColor, .contentSpacing, .main-actionBarBackground-background{
    background-color: var(--spice-main-background) !important;
    box-shadow: none !important;
}

.GlueDropTarget > .main-rootlist-rootlistItem:hover{
    margin-left: 15px !important;
    margin-right: 15px !important; 
}

.main-rootlist-rootlistItem:hover{
    padding-left: 9px !important;
    background-color: var(--spice-song-row);
    border-radius: 8px;
}

.playlist-playlist-playlistImageContainer, .main-entityHeader-image,  .profile-editImage-editImageButtonContainer, .main-editImageButton-overlay{
    margin-right: 10px;
    border-radius: 12px !important;
    transition-duration: 0.25s;
}

.main-topBar-container, .main-home-homeHeader, .main-trackList-trackListHeaderStuck {
    background-color: var(--spice-main-background) !important;
    border-bottom: solid 1px #454545;
}

.main-topBar-background{
    background-color: var(--spice-main-background) !important;
    opacity: 0 !important;
    border-bottom: solid 1px #383838;
}


.main-trackList-playingIcon{
    filter: sepia(200%);
}

.main-home-home, .main-navBar-entryPoints{
    margin: 0px !important;
    padding: 0px !important;
}

.main-trackList-trackListRow{
    background-color: var(--spice-song-row) !important;
    border-radius: 0px;
    border-top: solid 1px #5c5c5c;

}

.main-rootlist-rootlistDividerContainer, .main-entityHeader-overlay{
    display: none;
}

.main-entityHeader-topbarTitle {
    margin-left: 10px;
    padding-top: 6px;
}

.main-entityHeader-backgroundColor, .WiPggcPDzbwGxoxwLWFf, .main-home-content{
    /* box-shadow: none !important; */
    border-bottom: solid 1px #454545 !important;
    padding-top: 30px;
}

.main-playButton-PlayButton > * {
    color: var(--spice-text) !important; 
} .main-trackList-rowHeartButton {
    color: var(--spice-text);
}

.main-navBar-navBar{
    padding-top: 10px !important;
    background-color: var(--spice-main-background);
    border-right: solid 1px #454545;
}

/* now playing bar, bottom bar */
.main-nowPlayingBar-container{
    border-top: solid 1px #454545;
    background-color: var(--spice-main-background);
}

/* Skip button, Forward button, repeat, karoke, lyrics, spotify-connect, volume */
.main-skipBackButton-button,.main-genericButton-button, .main-skipForwardButton-button, .main-repeatButton-button, .ZMXGDTbwxKJhbmEDZlYy.control-button, .Button-sc-1dqy6lx-0.hyWUsx, .control-button.iUSAh1wdhXLk9hHSbkCA, .volume-bar__icon-button.control-button, .control-button, .main-playButton-PlayButton.main-playButton-primary, .main-shuffleButton-button, .main-actionBar-ActionBar.contentSpacing, .main-actionBar-ActionBarRow > div > .button,  .HbKLiGoYM4dpuK8L4TMX, .Svg-sc-1bi12j5-0.jgfuCe.X1lXSiVj0pzhQCUo_72A, .main-moreButton-button, .wCl7pMTEE68v1xuZeZiB, .w6j_vX6SF5IxSXrrkYw5 {
  color: var(--spice-subtext);
}

.main-button-primary:active,
.main-button-primary:focus,
.main-button-primary:hover,
.main-playPauseButton-button,
.main-view-container button:hover > div[class^='ButtonInner-sc-'] {
    background-color: var(--spice-subtext) !important;
}

.x-toggle-wrapper:hover > * {
    background-color: var(--spice-song-row) !important;
}

.control-button-heart[aria-checked="true"],
.main-playButton-PlayButton,
.main-addButton-active,
.main-addButton-active:focus,
.main-addButton-active:hover {
    color: var(--spice-text);
}

.main-view-container{
    background-color: var(--spice-main-background) !important;
}

/* Scrollbar */
.os-theme-spotify > .os-scrollbar-horizontal,
.os-theme-spotify > .os-scrollbar-vertical {
    padding: 4px;
} .os-theme-spotify.os-host-transition
    > .os-scrollbar-horizontal
    > .os-scrollbar-track
    > .os-scrollbar-handle,
.os-theme-spotify.os-host-transition
    > .os-scrollbar-vertical
    > .os-scrollbar-track
    > .os-scrollbar-handle {
    background-color: var(--spice-subtext);
    border-radius: 6px;
}

::-webkit-scrollbar {
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background-color: #575268;
    border-radius: 4px;
}